In [ ]:
print ("Hello Viiviian")
print ("Hello Reine")

Hello Viiviian
Hello Reine

In [ ]:
print ("Hello World!")

Hello World!

In [ ]:
name = "Viiviian"
age = 18
name = "Tae"
age = 16

is_adult = False
print(name)
print(age)

Tae
16

In [ ]:
name = "Tony Stark"
age = 51
is_genius = True
print(name)
print(age)
print("is a genius")

Tony Stark
51
is a genius

In [ ]:
name =input("What is your name?")
print("Hello " +  name)

What is your name?Viiviian
Hello Viiviian

In [ ]:
input("Who is your favourite idol?")
print("My favourite idol is "+ name)

Who is your favourite idol?Kim Taehyung
My favourite idol is Kim Taehyung

In [ ]:
old_age = input(" Enter your old age :")
new_age = int(old_age) +2
print(new_age)

 Enter your old age :16
18

In [ ]:
number = 18
print(float(18))

18.0

In [ ]:
number = 18
print(str(18))

18

In [ ]:
number= 18
print(bool(18))

True

In [ ]:
number = 18
print(bool(16))

True

In [ ]:
first = input("Enter first number:")
second = input("Enter second number:")
sum = int(first) + int(second)
print(sum)

Enter first number:12
Enter second number:30
42

In [ ]:
first = input("Enter first number:")
second = input("Enter second number:")
sum = first + second
print(sum)

Enter first number:12
Enter second number:30
1230

In [ ]:
first = input("Enter first number:")
second = input("Enter second number:")
sum = int(first) + int(second)
print("the sum is :" + str(sum))

Enter first number:12
Enter second number:30
the sum is :42

In [ ]:
#operations on string
name = "ViiViian"
print(name.upper())
print(name)
print(name.lower())
print(name.find("V")) #0
print(name.find("i")) #1
print(name.find("a")) #6
print(name.find("r")) #-1 because it is not present at any position
print(name.find("an"))
print(name.replace("ViiViian", "Reine"))
print("V" in name)
print("Reine" in name)

VIIVIIAN
ViiViian
viiviian
0
1
6
-1
6
Reine
True
False

In [ ]:
print(5+2)  #arithmetic operator
print(5-2)
print(5*2)
print(5/2)
print(5//2)
print(5%2)
print(5**2)

7
3
10
2.5
2
1
25

In [ ]:
i = 5 #shortcuts
i = i + 2
print(i)
i+= 2
print(i)
i-= 2
print(i)
i*= 2
print(i)
i/= 2
print(i)
i//= 2
print(i)

7
9
7
14
7.0
3.0

In [ ]:
result = 2 +3 * 5 #Operator_Precedence
print(result)
result = (2 +3) * 5
print(result)
result = 2 +3 / 5
print(result)
result = (2 +3) / 5
print(result)

17
25
2.6
1.0

In [ ]:
#comments
#if we want to use or add normal sentence in python we use # before the sentence which converts it into a commmet
#example
#taking input
first = input("Enter first number:")
second = input("Enter second number:")
#calculate sum of two numbers
sum = int(first) + int(second)
print("the sum is :" + str(sum))

Enter first number:12
Enter second number:30
the sum is :42

In [ ]:
#comparison operators
#in python we have certain operators to compare , these operators return the boolean values
print (3>2)
print (3<2)
print (3>=2)
print (3<=2)
print (3==2)
print (3==3)
print (3!=2)
print (3!=3)

True
False
True
False
False
True
True
False

In [ ]:
#Logical Operators
# in python there are three logical operators 1. OR operator:- IN THIS IF 2 CONDITIONS ARE GIVEN AND ATLEAST OONE IS TRUE, IT PRINTS TRUE OTHERWISE IF BOTH ARE FALSE ONLY THEN IT PRINTS FALSE
print(2>3 or 2>1)
#2. and operator: if both conditions are true only then the output is TRUE otherwise in all other cases the o/p is false
print(3>2 and 3>4)
print(3>2 and 2>1)
#3. NOT operator :- changes true to false and false to true
print(not 3>4)
print(not 4>3)

True
False
True
True
False

In [ ]:
#if-else statements:- when we are given with conditions like
#condi 1: perform through 1st path otherwise (sun is rising print Day)
#condi 2 : perform through another path (otherwise sun is setting print evening)
age = 18
if age >=18:
    print("you are an adult")
    print("you can vote")
else:
    print("you are not an adult")
    print("you cannot vote")
print("Thank You!")

age = 16
if age >=18:
    print("you are an adult")
    print("you can vote")
print("Thank You!")

age = 16
if age >=18:
    print("you are an adult")
    print("you can vote")
else:
    print("you are not an adult")
    print("you cannot vote")
print("Thank You!")

age = 16
if age >=18:
    print("you are an adult")
    print("you can vote")
elif age < 18 and age > 3:
    print("you are in school")
else:
    print("you are a child")
    print("you cannot vote")
print("Thank You!")

age = 2
if age >=18:
    print("you are an adult")
    print("you can vote")
elif age < 18 and age > 3:
    print("you are in school")
else:
    print("you are a child")
    print("you cannot vote")
print("Thank You!")

you are an adult
you can vote
Thank You!
Thank You!
you are not an adult
you cannot vote
Thank You!
you are in school
Thank You!
you are a child
you cannot vote
Thank You!

In [ ]:
#calculator
first = input("enter first number:")
operator = input("enter operator (+,-,*,/,%)")
second = input("enter second number:")


first = int(first)
second = int (second)

if operator == "+":
   print(int(first) + int(second))
if operator == "-":
   print(int(first) - int(second))
if operator == "*":
   print(int(first) * int(second))
if operator == "/":
   print(int(first) / int(second))
if operator == "%":
   print(int(first) % int(second))
if operator == "+":
   print(int(first) + int(second))
elif operator == "-":
   print(int(first) - int(second))
elif operator == "*":
   print(int(first) * int(second))
elif operator == "/":
   print(int(first) / int(second))
elif operator == "%":
   print(int(first) % int(second))

else:
    print("INVALID OPERATION!")

enter first number:5
enter operator (+,-,*,/,%)/
enter second number:2
2.5
2.5

In [ ]:
 #range
 numbers = range(5) # 0,1,2,3,4
 print(numbers)

range(0, 5)

In [ ]:
#loop #1 WHILE LOOP
print(1)
print(2)
print(3)
print(4)
print(5)

#while loop
#we provide a particular condition up until the statement or condition provided is true the work will be done
#the moment the condition is false the work will stop
i = 1
while i<= 5:
  print(i)
  i= i + 1

i = 1
while i <=10:
  print(i)
  i = i + 1

i = 1
while i <=10:
  print(i * "*")
  i = i + 1

i = 1
while i <=5:
  print(i * "REINE")
  i = i + 1
i = 5
while i >=0:
  print(i * "*")
  i = i - 1

1
2
3
4
5
1
2
3
4
5
1
2
3
4
5
6
7
8
9
10
*
**
***
****
*****
******
*******
********
*********
**********
REINE
REINEREINE
REINEREINEREINE
REINEREINEREINEREINE
REINEREINEREINEREINEREINE
*****
****
***
**
*

In [ ]:
#FOR LOOP
for i in range(5):
    print(i)

for item in range(5):
    print(item)

for item in range(5):
    print(item + 1)

0
1
2
3
4
0
1
2
3
4
1
2
3
4
5

In [ ]:
#LIST :- COLLECTION OF ITEMS
marks =[95, 99, 98]
print(marks)
marks =[95, 99, 98]
print(marks[0])
print(marks[1])
print(marks[-1])
print(marks[-3])
print(marks[-2])
print(marks[0:2])
print(marks[1:3])

marks =[95, 99, 98]
for score in marks:
  print(score)

marks =[95,"Math",99,"Science",98,"English"]
for score in marks:
  print(score)

[95, 99, 98]
95
99
98
95
99
[95, 99]
[99, 98]
95
99
98
95
Math
99
Science
98
English

In [ ]:
#operations on list
#append operation (append means to join)
marks =[95, 99, 98]
marks.append(99)
print(marks)
marks =[95, 99, 98]
marks.insert(0,99)
print(marks)
marks =[95, 99, 98]
marks.insert(0,99)
print(99 in marks)
marks =[95, 99, 98]
marks.insert(0,99)
print(93 in marks)
marks =[95, 99, 98]
marks.insert(0,99)
print(len(marks))
marks =[95, 99, 98]
print(len(marks))

[95, 99, 98, 99]
[99, 95, 99, 98]
True
False
4
3

In [ ]:
#in previous one we used for loop for iteration over marks
#now we will use while loop

marks = [95,98,97]

i = 0
while i < len(marks):
  print(marks[i])
  i = i + 1

marks.clear #clear clearsout the entire list
print(marks)

95
98
97
[95, 98, 97]

In [115]:
#break and continue

students = ["RM", "JIN" , "SUGA" , "JHOPE","JIMIN","TAEHYUNG","JUNGKOOK","ARMY"]
for student in students:
  if student == "JUNGKOOK":
    break; #semicolon is optional in python
  print(student)



students = ["RM", "JIN" , "SUGA" , "JHOPE","JIMIN","TAEHYUNG","JUNGKOOK","ARMY"]
for student in students:
  if student == "ARMY":
    break; #semicolon is optional in python
  print(student)




students = ["RM", "JIN" , "SUGA" , "JHOPE","JIMIN","TAEHYUNG","JUNGKOOK","ARMY"]
for student in students:
  if student == "JHOPE":
    continue; #semicolon is optional in python
  print(student)

#DON'T COME AFTER ME! BORAFAMILY... I'M JUST LEARNING TO CODE...

students = ["RM", "JIN" , "SUGA" ,"ARMY", "JHOPE","JIMIN","TAEHYUNG","JUNGKOOK"]
for student in students:
  if student == "ARMY":
    continue; #semicolon is optional in python
  print(student)

RM
JIN
SUGA
JHOPE
JIMIN
TAEHYUNG
RM
JIN
SUGA
JHOPE
JIMIN
TAEHYUNG
JUNGKOOK
RM
JIN
SUGA
JIMIN
TAEHYUNG
JUNGKOOK
ARMY
RM
JIN
SUGA
JHOPE
JIMIN
TAEHYUNG
JUNGKOOK

In [119]:
#TUPLE samelike list but immutable ,i.e., once you created a tuple you cannot change
marks = (95,98,97, 97,97)
print(marks.count(97))


marks = (95,98,97, 97,97)
print(marks.count(95))
print(marks.index(97))

person = "jimin" , "taehyung" , "jungkook"
#in tuple parentheses are not compulsory but just to make the code look good we use them
print (person)

person = "jimin" , "taehyung" , "jungkook"
print (person)
print(person[0])
print(person[1])
print(person[2])

3
1
2
('jimin', 'taehyung', 'jungkook')
('jimin', 'taehyung', 'jungkook')
jimin
taehyung
jungkook

In [121]:
#SET many elements are given and we have to store them but only unique elements are to be kept not the duplicates ones
marks = {95,98,97, 97,97}
for score in marks:
  print(score)
#since in sets we dont have index thereforwe, it is called unordered

97
98
95

In [ ]:
#untnil ow
#[] - list
#{} - set
#() - tuple

In [130]:
#dictonary :- in this we store key value pair
 #fro ex storing information of children with thier parent (key amd value when stored in two pairs, they are stored in dictonary)

marks = {"english" : 95, "chemistry" : 98}
print(marks["chemistry"])
print(marks["english"])
marks["physics"] = 99
print(marks)

marks["english"] = 99
print(marks)

98
95
{'english': 95, 'chemistry': 98, 'physics': 99}
{'english': 99, 'chemistry': 98, 'physics': 99}

In [136]:
#functions
#1. in-built functions
#2.MOdule FUnctions
#3. User-Defined Functions

#in python there sre different parts each part performs an operation and if this part performs only a specific operation then we name it as a function

#inbuilt fun:- these functions already exists in python and we can use them directly
# int()
# str()
# bool ()

# module function:- when related functions and related variables are stored together in one file it is c/a module function
#import math

import math
print(dir(math))

from math import sqrt #sqrt gives / return square root of any number
print(sqrt(49))

from math import * #* is selecting all the functions available in math
print(sqrt(49))

#user-defined function
#synatx is def function_name(parameters):
     #//do something

def print_sum(first, second):
    print(first + second)

print_sum(7, 7)


def print_sum(first, second=5):
    print(first + second)

print_sum(2)

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']
7.0
7.0
14
7